html,body {
  margin: 0;
  padding: 0;
  font-family: 'Arial',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #f9f9f9;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img{
  max-width: 100%;
  vertical-align: top;
}

i{
    font-style: normal;
}
.clearfix:after {  content: ""; display: block; height: 0; clear: both; visibility: hidden;  }  
.clearfix {display: inline-block;}
.header+.container{
  padding-top: 50px;
}
/*一行显示省略号*/
.text-overflow-line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-line-1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.text-line-1 .coupon-num{
  font-size: 26px;
  color: #850000;
}

.text-line-1 .coupon-unit{
  font-size: 10px;
  color: #850000;
}

  /*两行显示省略号*/
.text-overflow-line-2 {
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*white-space: wrap;*/
}

